.main(layout='row')
    div(id='cv' class='instaFade')
        div(class='mainDetails')
            div(id='headshot' class='quickFade')
                img(src='profilePic.png' alt='Alan Smith')
            div(id='name')
                h1(class='quickFade delayTwo') {{name}}
                h2(class='quickFade delayThree') {{jobtitle}}
            div(id='contactDetails' class='quickFade delayFour')    
                ul
                    li e: 
                        a(href='mailto:{{email}}' target='_blank') {{email}}
                    li m: {{mobile}}
            div(class='clear')
         div(id='mainArea' class='quickFade delayFive')   
            section
                article
                    div(class='sectionTitle')
                        h1 Career Objective
                    div(class='sectionContent')
                        ul 
                            li {{careerObjectives1}}
                            li {{careerObjectives2}}
                div(class='clear')
            section
                div(class='sectionTitle')
                    h1 Work Experience
                div(class='sectionContent')
                    article(ng-repeat='workExp in workExps')
                        h2 {{workExp.jobTitle}} at {{workExp.company}}
                        p(class='subDetails') {{workExp.period}}
                        p
                            ul
                                li(ng-repeat='skill in workExp.skills') {{skill}}
                div(class='clear')
            section
                div(class='sectionTitle')
                    h1 Key Skills
                div(class='sectionContent')
                    ul(class='keySkills')
                        li(ng-repeat='keySkill in keySkills') {{keySkill}}
                div(class='clear')        
            section
                div(class='sectionTitle')
                    h1 Education
                div(class='sectionContent')
                    article(ng-repeat='education in educations')
                        h2 {{education.institution}}
                        p(class='subDetails') {{education.qualification}}
                        p 
                            ul
                                li(ng-repeat='detail in education.details') {{detail}}
                div(class='clear')
